/*!******************************************************************************
 *  This file is part of the GraphQL Bundle package.
 *
 *  (c) YnloUltratech <support@ynloultratech.com>
 *
 *  For the full copyright and license information, please view the LICENSE
 *  file that was distributed with this source code.
 ******************************************************************************/

body {
  font-weight: 300;
  background-color: #fff;
}

.Page__header {
  margin: 0 0 15px;
  padding: 15px 0 0;
}

.Brand, .Navbar {
  //background-color: #ca1c1c;
}

.Nav .Nav .Nav__item a {
  padding: 7px 30px;
  color: #222;
  opacity: 1;
  font-size: 0.9rem;
}

.Brand {
  display: block;
  padding: 1rem 0;
  font-size: 1.55rem;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  //background-color: #ca1c1c;
}

.Page__header a{
  //color: #ca1c1c;
}

.Page__header h1 {
  line-height: 33px;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

@media screen and (min-width: 769px) {
  .Columns {
    display: flex;
  }
  .Columns__left {
    width: 350px;
  }
  .Columns__right {
    width: 100%;
    background-color: #eee;
  }

  .Columns__right__content {
    max-width: 800px;
    border-right: 1px solid #e6e6e6;
    box-shadow: 1px 0 8px rgba(0, 0, 0, 0.05);
  }
}

.Nav__item--open > a {
  background-color: transparent;
}

