/*!******************************************************************************
 *  This file is part of the GraphQL Bundle package.
 *
 *  (c) YnloUltratech <support@ynloultratech.com>
 *
 *  For the full copyright and license information, please view the LICENSE
 *  file that was distributed with this source code.
 ******************************************************************************/


h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.s-content {
  h1, h2, h3, h4, h5, h6 {

  }

  h1 {
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
  }
  h2, h3, h4, h5 {
    margin-top: 10px;
  }
}

a {
  font-weight: 400;
  color: #333;
}

.PoweredBy{
  font-size: 0.65rem;
  color: #777;
}
